{% extends "base.html" %}

{# ajusta as variáveis conforme novo ou edit #}
{% set id = result[0].id_cliente if result else '0' %}
{% set nome = result[0].nome if result else '' %}
{% set cpf = result[0].cpf if result else '' %}
{% set telefone = result[0].telefone if result else '' %}
{% set compra_fiado = result[0].compra_fiado if result else '' %}
{% set dia_fiado = result[0].dia_fiado if result else '' %}
{% set senha = result[0].senha if result else '' %}

{% block title %}Cliente{% endblock %}

{% block content %}
<h1>Cliente - {{ "%s: %s" % ('Editar Registro', id) if result else 'Novo' }}</h1>
<form name="{{ 'formEditar' if result else 'formAdicionar' }}" id="{{ 'formEditar' if result else 'formAdicionar' }}"
    action="{{ url_for('cliente.edit') if result else url_for('cliente.insert') }}" method="POST">

    <form name="formAdicionar" id="formAdicionar" action="{{ url_for('cliente.insert') }}" method="POST">

        <div>
            <h1>Cliente</h1>
            <input type="text" name="id" id="id" value="{{ id }}">
            <label for="codigo">Código</label>
            <br>
            <input type="text" name="nome" id="nome" value="{{ nome }}" placeholder="Nome do Cliente" maxlength="100"
                autofocus required>
            <label for="nome">Nome do Cliente</label>
            <br>
            <input type="text" name="cpf" id="cpf" value="{{ cpf }}" placeholder="CPF" maxlength="15" required>
            <label for="cpf">CPF</label>
            <br>
            <input type="tel" name="telefone" id="telefone" value="{{ telefone }}" placeholder="Telefone" maxlength="15"
                required>
            <label for="telefone" class="form-label">Telefone</label>
            <br>
            <input type="text" name="compra_fiado" id="compra_fiado" value="{{ compra_fiado }}" placeholder="Compra Fiado"
                required>
            <label for="compra_fiado">Compra Fiado</label>
            <br>
            <input type="text" name="dia_fiado" id="dia_fiado" value="{{ dia_fiado }}" placeholder="Dia Fiado" required>
            <label for="dia_fiado">Dia Fiado</label>
            <br>
            <input type="password" name="senha" id="senha" value="{{ senha }}" placeholder="Senha" required>
            <label for="senha">Senha</label>
            <br>
            <button type='submit' name='salvaClienteDB' id='salvaClienteDB'><i class='fas fa-save'></i> Salvar</button>
        </div>
    </form>

</form>

{% endblock %}