{% extends "base.html" %}

{% block title %}Cliente{% endblock %}

{% block content %}
<form name="formAdicionar" id="formAdicionar" action="" method="POST">
    <div>
        <h1>Cliente</h1>
        <input type="text" name="codigo" id="codigo" value="" placeholder="Código" readonly>
        <label for="codigo">Código</label>
        <br>
        <input type="text" name="nome" id="nome" value="" placeholder="Nome do Cliente" maxlength="100" autofocus
            required>
        <label for="nome">Nome do Cliente</label>
        <br>
        <input type="text" name="cpf" id="cpf" value="" placeholder="CPF" maxlength="15" required>
        <label for="cpf">CPF</label>
        <br>
        <input type="tel" name="telefone" id="telefone" value="" placeholder="Telefone" maxlength="15" required>
        <label for="telefone" class="form-label">Telefone</label>
        <br>
        <input type="text" name="compraFiado" id="compraFiado" value="" placeholder="Compra Fiado" required>
        <label for="compraFiado">Compra Fiado</label>
        <br>
        <input type="text" name="diaFiado" id="diaFiado" value="" placeholder="Dia Fiado" required>
        <label for="diaFiado">Dia Fiado</label>
        <br>
        <input type="password" name="senha" id="senha" value="" placeholder="Senha" required>
        <label for="senha">Senha</label>
        <br>
        <button type='submit' name='salvaClienteDB' id='salvaClienteDB'><i class='fas fa-save'></i> Salvar</button>
    </div>
    
</form>

{% endblock %}