<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - AbcBolinhas</title>
    {% block style %}{% endblock %}
    <style>
        .important {
            color: #6495ED;
        }
    </style>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='sweetalert2/sweetalert2.min.css') }}">
    <script src="{{ url_for('static', filename='sweetalert2/sweetalert2.all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.maskedinput.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.2-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-6.4.2-web/css/all.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.2-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-6.4.2-web/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sweetalert2/sweetalert2.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- monitorar log do navegador, pois a ordem interfere -->
    <script src="{{ url_for('static', filename='jquery-3.7.1.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.maskedinput.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-5.3.2-dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fontawesome-free-6.4.2-web/js/all.js') }}"></script>
    <script src="{{ url_for('static', filename='sweetalert2/sweetalert2.all.min.js') }}"></script>
</head>

<body>
    {% block menu %}

    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <nav class="navbar bg-body-tertiary">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img src="{{ url_for('static', filename='favicon.ico') }}" alt="Bootstrap" width="30"
                            height="30">
                    </a>
                </div>
            </nav>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('index.formIndex') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('funcionario.formListaFuncionario') }}">Funcionários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('cliente.formListaCliente') }}">CLIENTES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('produto.formListaProduto') }}">Produtos</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('login.logoff') }}"><i class="fas fa-door-open"></i> SAIR</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>



    {% endblock %}


    <div class="text-center">

        {% block content %}

        {% endblock %}


    </div class="text-center">

    {% if request.args.get('msg'): %}
    <h3>{{ request.args.get('msg') }}</h3>
    <br>
    {% elif msg: %}
    <h3>{{ msg }}</h3>
    <br>
    {% elif request.args.get('msgErro'): %}
    <h3>{{ request.args.get('msgErro') }}</h3>
    <br>
    {% elif msgErro: %}
    <h3>{{ msgErro }}</h3>
    <br>
    {% endif %}


    <!-- redirect - request.args.get('msg' ou 'msgErro') -->
    {% if request.args.get('msg'): %}
    <script>
        Swal.fire("Sucesso", "{{ request.args.get('msg') }}", "success");
    </script>
    {% elif request.args.get('msgErro'): %}
    <script>
        Swal.fire("Erro", "{{ request.args.get('msgErro') }}", "error");
    </script>
    <!-- render_template - msg ou msgErro -->
    {% elif msg: %}
    <script>
        Swal.fire("ID {{ msg.id }}, {{ msg.msg }} ", "{{ msg }}", "success");
    </script>
    {% elif msgErro: %}
    <script>
        Swal.fire("{{ msgErro.msg if msgErro.msg else 'Erro' }}", "{{ msgErro }}", "error");
    </script>
    {% endif %}

    <br><br><br>
    </div class="text-center">
    <div class="text-center">
        {% block footer %}
        <a href="{{ url_for('index.formIndex') }}">&copy; 2022 by AbcBolinhas</a>
        {% endblock %}
        <script src="{{ url_for('static', filename='bootstrap-5.3.2-dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='fontawesome-free-6.4.2-web/js/all.js') }}"></script>

    </div>

</body>

</html>