{% extends "base.html" %}
{% block title %}Produto{% endblock %}

{% block content %}
<form action="{{ url_for('produto.formProduto') }}" method="POST">
    <h1>Produto</h1>
    <button type="submit" name="formNovo">Novo Produto</button>
</form>
<table>
    <thead>
        <tr>
            <!-- {{ result }} -->
            <th scope="col">#</th>
            <th scope="col">Codigo </th>
            <th scope="col">Nome do Produto</th>
            <th scope="col">Descrição</th>
            <th scope="col">preço</th>
            <th scope="col">estoque</th>
        </tr>
    </thead>
    <tbody>
        {% if result%}
        {% for row in result%}
        <tr>
            <th scope="row">{{ row['id_produto'] }}</th>
            <td> {{ row['codigo'] }}</td>
            <td> {{ row['nome'] }}</td>
            <td> {{ row['descricao'] }}</td>
            <td> {{ row['valor_unitario'] }}</td>
            <td> {{ row['preco'] }}</td> 
            <td> <img src="{{ row['foto']}}" width="100"></td> 
            <td><i class="fas fa-edit"></i></td>
            <td><i class="fas fa-trash"></i></td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}