{% extends "base.html" %}

{% block title %}Produtos{% endblock %}

{% block content %}
<form name="formAdicionar" id="formAdicionar" action="" method="POST">
    <h1>Produto</h1>
    <input type="text" name="id" id="id" value="" placeholder="Código" readonly>
    <label for="id">Código</label>
    <br>
    <input type="text" name="nome" id="nome" value="" placeholder="Nome do Produto" maxlength="100" autofocus required>
    <label for="nome">Nome do Produto</label>
    <br>
    <input type="text" name="descricao" id="descricao" value="" placeholder="Descrição" required>
    <label for="descricao">Descrição</label>
    <br>
    <input type="text" name="preco" id="preco" value="" placeholder="Preço" required>
    <label for="preco">Preço</label>
    <br>
    <input type="text" name="estoque" id="estoque" value="" placeholder="Estoque" required>
    <label for="estoque">Estoque</label>
    <br>
    <button type='submit' name='salvaProdutoDB' id='salvaProdutoDB'><i class='fas fa-save'></i> Salvar</button>
</form>
{% endblock %}