{% extends "base.html" %}

{% block title %}Produto{% endblock %}

{% block content %}
<form action="{{ url_for('produto.formProduto') }}" method="POST">
    <h1>Produto</h1>
    <button type="submit" name="formNovo">Novo Produto</button>
</form>
<table>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Codigo </th>
            <th scope="col">Nome do Produto</th>
            <th scope="col">Descrição</th>
            <th scope="col">preço</th>
            <th scope="col">estoque</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">...</th>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td><i class="fas fa-edit"></i></td>
            <td><i class="fas fa-trash"></i></td>
        </tr>
    </tbody>
</table>
{% endblock %}